#------------------------------------------------------------------------------#
#                     .gitignore for ITA-Solar/tp                              #
#------------------------------------------------------------------------------#

# Emacs backup files
*~
# Emacs autosave files
\#*\#
#Data files
data/
**/data/
# Julia-testing file
test.jl
